/* Dev Env */
html {
  background: black !important;
}

.container {
  border: 1px solid black;
  background: white;
  height: 500px !important;
  width: 350px !important;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

/* Extension vvvvv */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  text-align: center;
}

.icon-container {
  font-size: 72px;
  margin: 24px 0;
}
