.workout-building-container {
  padding: 16px;
}

.inline-icon {
  margin-left: 8px;
}

.schedule {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.schedule > button {
  min-width: 50px;
}

.input-small {
  width: 100px;
}
